<!DOCTYPE html>

<html ng-app="garcomApp">

<head>
    <meta charset="utf-8">
    <title>Cardápio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/estilo.css">
</head>

<body ng-controller="garcomController">
    <header>
        <div ng-include="'MenuNavBar.html'"></div>
    </header>
    <div class="container">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s4">
                        <label for="codigo">Código</label>
                        <input placeholder="Código" id="codigo" type="number" class="validate" ng-model="garcom.id" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <label for="nome">Nome</label>
                        <input placeholder="Nome" id="nome" name="nome" type="text" class="validate" ng-model="garcom.nome" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <label for="telefone">Telefone</label>
                        <input placeholder="Telefone" id="telefone" name="telefone" type="text" class="validate" ng-model="garcom.telefone" />
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <label for="Endereco">Endereço</label>
                        <input placeholder="Endereço" id="Endereco" name="Endereco" type="text" ng-model="garcom.endereco" />
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="salvar(garcom)">Salvar
                    <i class="material-icons left"></i>
                </button>
                <button class="btn waves-effect waves-light red" type="submit" name="action" ng-click="cancelar() ">Cancelar
                    <i class="material-icons left"></i>
                </button>
            </form>
        </div>
    </div>

    <h3>Garçons</h3>
    <table class="responsive-table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Endereco</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="garcom in garcons track by $index">
                <td ng-dblclick="editar(garcom)">{{garcom.id}}</td>
                <td ng-dblclick="editar(garcom)">{{garcom.nome}}</td>
                <td ng-dblclick="editar(garcom)">{{garcom.telefone}}</td>
                <td ng-dblclick="editar(garcom)">{{garcom.endereco}}</td>
                <td>
                    <button class="btn waves-effect waves-light green" type="submit" name="action" ng-click="editar(garcom)">Editar
                      <i class="material-icons left">create</i>
                    </button>
                </td>
                <td>
                    <button class="btn waves-effect waves-light red" type="submit" name="action" ng-click="excluir(garcom)">Excluir
                      <i class="material-icons left">delete</i>
                    </button>
                </td>

            </tr>
        </tbody>

    </table>
</body>

</body>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2021 Copyright Cleiton e Edilson Ltda
        </div>
    </div>
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script language="JavaScript" type="text/javascript" src='js/angular.min.js'></script>
<script language="JavaScript" type="text/javascript" src='js/script.js'></script>
<div>

</html>