<!DOCTYPE html>
<html ng-app="mesaApp">

<head>
    <meta charset="utf-8">
    <title>Cardápio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/estilo.css">
</head>

  <body ng-controller="mesaController">
    <header>
        <div ng-include="'MenuNavBar.html'"></div>
    </header>
    <div  class="container">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Número da Mesa" id="Numero_Mesa" type="number" class="validate" ng-model="mesa.id">
                <label for="Numero_Mesa">Número da Mesa</label>
              </div>
            </div>  
            <div class="row">
              <div class="input-field col s10">
                <input placeholder="Nome da Mesa" id="Nome_Mesa" type="text" class="validate" ng-model="mesa.nome">
                <label for="Nome-Mesa">Nome da Mesa</label>
              </div>
            </div> 
            <div class="row">
              <div class="input-field col s4">
                <input placeholder="Lugares" id="Lugares" type="number" class="validate" ng-model="mesa.lugares">
                <label for="Lugares">Lugares</label>
              </div> 
            </div>
            <div class="row"></div>
                <p>
                  <label>
                    <input id="Reservado" type="checkbox" ng-model="mesa.reservado"/>
                    <span>Reservada</span>
                  </label>
                </p>
                <p>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select id="SelecionaGarcom" ng-model="mesa.garcom">
                  <option value="">Selecione o Garçom</option>
                  <option ng-repeat="garcom in garcons track by $index" value ="{{garcom.id}}" >{{garcom.nome}}</option>
                </select>
                <label for= "SelecionaGarcom">Garçom</label>
              </div>
            </div> 
            <div class="row">
              <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="salvar(mesa)">Salvar
                <i class="material-icons left">check</i>
              </button>
              <button class="btn waves-effect waves-light red" type="submit" name="action" ng-click="cancelar() ">Cancelar
                <i class="material-icons left">clear</i>
              </button>
            </div>
          </form>
        </div>
    </div>

    <h3>Cadastros de Mesas</h3>
    <table class="responsive-table">
        <thead>
            <tr>
                <th>Número</th>
                <th>Nome da Mesa</th>
                <th>Lugares</th>
                <th>Reservado</th>
                <th>Garçom</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="mesa in mesas track by $index">
                <td ng-dblclick="editar(mesa)">{{mesa.id}}</td>
                <td ng-dblclick="editar(mesa)">{{mesa.nome}}</td>
                <td ng-dblclick="editar(mesa)">{{mesa.lugares}}</td>
                <td ng-dblclick="editar(mesa)">{{reserva(mesa)}}</td>
                <td ng-dblclick="editar(mesa)">{{mesa.garcom}}</td>
                <td>
                  <button class="btn waves-effect waves-light green" type="submit" name="action" ng-click="editar(mesa)">Editar
                    <i class="material-icons left">create</i>
                  </button>
                </td>
                <td>
                  <button class="btn waves-effect waves-light red" type="submit" name="action" ng-click="excluir(mesa)">Excluir
                    <i class="material-icons left">delete</i>
                  </button>
                </td>
            </tr>
        </tbody>
    </table>
  </body>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2021 Copyright Cleiton e Edilson Ltda
            </div>
        </div>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script language="JavaScript" type="text/javascript" src='js/angular.min.js'></script>
    <script language="JavaScript" type="text/javascript" src='js/script.js'></script>
</div>

</html>